<header class="header">

  <div class="wrapper">

    <div class="header__profile">
      <a href="/">
        <img src="{{ site.baseurl }}/img/marcelo.jpg" alt="Marcelo Carmona">
      </a>
    </div>
    <div class="header__bio">
      <p class="header__bio__name">{{ site.title }}</p>
      <p></p><a href="https://twitter.com/carmonamarcelo" class="twitter-follow-button" data-show-count="false">Follow @carmonamarcelo</a>
      <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
      <p>Team leader, javascript developer, #juniordevforlife</p>
    </div>
  </div>

</header>
