<header class="header">

  <div class="languages">

    {% assign posts=site.posts | where:"ref", page.ref | sort: 'lang' %} {% for post in posts %}

    <a href="{{ post.url }}" class="{{ post.lang }}">
      <img src="{{ site.baseurl }}/img/icons/{{ post.lang }}.svg" alt="{{ post.lang }}">
    </a>

    {% endfor %} {% assign pages=site.pages | where:"ref", page.ref | sort: 'lang' %} {% for page in pages %}

    <a href="{{ page.url }}" class="{{ page.lang }}">
      <img src="{{ site.baseurl }}/img/icons/{{ page.lang }}.svg" alt="{{ page.lang }}">
    </a>

    {% endfor %}

  </div>

  <div class="wrapper">
    <div class="header__profile">
      <a href="/">
        <img src="{{ site.baseurl }}/img/icons/icon-128x128.png" alt="Marcelo Carmona" srcset="{{ site.baseurl }}/img/icons/icon-128x128.png,
                     {{ site.baseurl }}/img/icons/icon-192x192.png 1.5x">
      </a>
    </div>
  </div>

</header>

<div class="bio">
  <p class="bio__name">{{ site.title }}</p>
  <a href="{{site.social.twitterURL}}" class="twitter-follow-button" data-show-count="false">Follow @carmonamarcelo</a>
  <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
  <p class="bio__I-am">Team leader, javascript developer, #juniordevforlife</p>
</div>

<div class="section">
  <nav class="wrapper">
    <div class="navbar">
      <a class="navbar__button" href="/">Blog</a>
      <a class="navbar__button" href="/Front-end-Developer-Interview-Questions">Interview Questions</a>
      <a class="navbar__button" href="/about">About</a>
    </div>
  </nav>
</div>
