/**
 * Site header
 */
.header {
  padding: 15px;
  text-align: center;
  background-color: #010101;
  color: white;
  height: 55px;
  &__profile {
    img {
      width: 128px;
      border-radius: 50%;
      border: 4px solid #f5f5f5;
    }
  }
}

.languages {
  position: absolute;
  right: 10px;

  .en:lang(en), .es:lang(es){
    font-weight: bold;
    opacity: 1;
  }

  a {
    padding: 0 5px;
    img {
      width: 20px;
    }

    opacity: 0.4;

    &:hover {
      opacity: 1
    }
  }
}



.bio {
  background-color: #1b95e0;
  border-top: 1px solid #9c9c9c;
  border-bottom: 1px solid $grey-color-light;
  color: white;
  padding-top: 64px;
  text-align: center;
  &__name{
    font-size: 24px;
    margin-bottom: 2px;
  }
  &__I-am{
    font-size: smaller;
  }
}

.site-title {
  font-size: 26px;
  font-weight: 300;
  line-height: 56px;
  letter-spacing: -1px;
  margin-bottom: 0;
  float: left;
  &,
  &:visited {
    color: $grey-color-dark;
  }
}

.site-nav {
  float: right;
  line-height: 56px;
  .menu-icon {
    display: none;
  }
  .page-link {
    color: $text-color;
    line-height: $base-line-height;
    // Gaps between nav items, but not on the last one
    &:not(:last-child) {
      margin-right: 20px;
    }
  }
  @include media-query($on-palm) {
    position: absolute;
    top: 9px;
    right: $spacing-unit / 2;
    background-color: $background-color;
    border: 1px solid $grey-color-light;
    border-radius: 5px;
    text-align: right;
    .menu-icon {
      display: block;
      float: right;
      width: 36px;
      height: 26px;
      line-height: 0;
      padding-top: 10px;
      text-align: center;
      >svg {
        width: 18px;
        height: 15px;
        path {
          fill: $grey-color-dark;
        }
      }
    }
    .trigger {
      clear: both;
      display: none;
    }
    &:hover .trigger {
      display: block;
      padding-bottom: 5px;
    }
    .page-link {
      display: block;
      padding: 5px 10px;
      &:not(:last-child) {
        margin-right: 0;
      }
      margin-left: 20px;
    }
  }
}

.section {
  background-color: #ffffff;
  border-bottom: 1px solid #e8e8e8;
  box-shadow: 0px 1px 5px #000000;
}

.navbar {
  display: flex;
  justify-content: space-evenly;
  &__button {
    padding: 12px 0;
    margin: 0 5px;
    white-space: nowrap;
  }
}

/**
 * Site footer
 */
.footer {
  padding: 20px 0;
  p {
    text-align: center;
  }
}

/**
 * Page content
 */
.page-content {
  background-color: whitesmoke;
}

.page-content__list {
  padding-top: $spacing-unit;
  border-left: 1px solid $grey-color-light;
  border-right: 1px solid $grey-color-light;
  border-bottom: 1px solid $grey-color-light;
  background-color: white;
}

.post__list {
  margin-left: 0;
  list-style: none;
  >li {
    margin-bottom: 30px;
    padding-bottom: 30px;

    &:not(:last-child) {
      border-bottom: 1px solid #e8e8e8;
    }
  }
}

.post__meta {
  font-size: $small-font-size;
  color: $grey-color;
  text-align: center;
  margin-bottom: 15px;
}

.post__title {
  font-size: 2em;
  color: darken($brand-color, 15%);
  text-align: center;
  margin-bottom: 0;
}

/**
 * Posts
 */
.post-header {
  text-align: center;
  margin-bottom: $spacing-unit;
}

.post-title {
  font-size: 42px;
  letter-spacing: -1px;
  line-height: 1;
  @include media-query($on-laptop) {
    font-size: 36px;
  }
}

.post-content {
  margin-bottom: $spacing-unit;
  h2 {
    font-size: 32px;
    @include media-query($on-laptop) {
      font-size: 28px;
    }
  }
  h3 {
    font-size: 26px;
    @include media-query($on-laptop) {
      font-size: 22px;
    }
  }
  h4 {
    font-size: 20px;
    @include media-query($on-laptop) {
      font-size: 18px;
    }
  }
}
